<div class="black-background">
  <div class="row">
    <div class="col-md-2">
      <div class="logo">
        <img src="./assets/img/M.png" alt="">
      </div>
      <div class="container">
        <button><a class="bardhi" [routerLink]="'/home-page'" >Match</a></button>
        <button> <a class="bardhi" [routerLink]="'/chat'" >Chat</a></button>
        <button><a class="bardhi" [routerLink]="'/profile'" >Profile</a></button>
      </div>
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">

        </div>
      </div>
    </div>
  </div>
</div>

