<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-md-6 flex-column pt-5">
        <h1 class="fw-bold headline mb-5">Find your perfect team!</h1>
        <div class="buttons flex-column">
          <a [routerLink]="'/sign-up'" ><button class="join-now" >Join now</button></a>
          <a [routerLink]="'/login'"><button class="log-in " >Log In</button></a>
        </div>
      </div>
      <div class="col-md-6">
        <!-- Add some content here if needed -->
      </div>
    </div>
  </div>
</div>

