.notification-card {
  background-image: url("../../../assets/img/notification-bckg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 10px;
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-right: 80px;
}

.author-icon {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin-right: 10px;
}

.rating {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
}

.more-button {
  background: white;
  border: none;
  border-radius: 20px;
  color: #333;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
}

.more-button:hover {
  background: #ddd;
}

.author-and-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
